.banner1 {
    background: url(../Images/images/banner.jpg) no-repeat 0px -99px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height:300px;
    padding-top: 5%;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 5%;
}
