@font-face {
font-family: DeliciousRoman;
src: url(/Delicious-Roman.otf);
}

#map {
  height: 500px;
  margin: 10px auto;
  width: 800px;
}

iframe {
  margin-top: 20px;
  margin-bottom: 30px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
@import  url(https://fonts.googleapis.com/css?family=Montserrat);
.img-responsive{
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
.img-rounded{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header{
	background-color: white;
	background: #283747;
	margin-left: 0%; 
	margin-right: 0%; 
	font-size: 2em;
	padding-top: 2%; 
	padding-bottom: 2%;
	border-radius: 10px;
}
.services-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}
.services-breadcrumb ul li a {
       color: #207fe2;
    text-decoration: none;
}
.services-breadcrumb ul li {
    display: inline-block;
      color: #222;
}
.services-breadcrumb ul li i {
    padding: 0 1.5em;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.buttonlogin {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button3 {
    background-color: white;
    opacity: 1  ; 
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    opacity: 1;
    color: white;
}

/* input */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: #5E5E5E;
}
label{
  color: blue;
}
input[type=text]:focus {
    border: 3px solid #ccc;
}
/* carousal */
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-caption {
    top: 38%;
    bottom: 62%;
    float: left;
}
.carousel-inner{
  width:100%;
  max-height: 75vh;
}

.banner1 {
    background: url(../images/banner.jpg) no-repeat 0px -99px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height:300px;
    padding-top: 5%;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 5%;
}


.carousel-indicators li {
  display: inline-block;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  background-color: rgba(255  , 255, 255, 255);
  opacity: 0.9;
  border: 0px solid #fff;
  border-radius: 0px;
}
.carousel-indicators .active{
    background-color: red;
}
/* carousel end*/
/* pulse button*/
.pulse-button {

  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(7, 99, 171, 0.7);
  border-radius: 50%;
  background-color: #0773c8;
  
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(7, 99, 171, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(7, 99, 171, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(7, 99, 171, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(7, 99, 171, 0);}}

/* pulse button end*/
h1{
  font-family: Autour One;
}
h4{
  font-family: Autour One;
}
h3{
  font-family: Autour One;
}
h2{
  font-family: Autour One;
}
 .navbar {
  min-height: 80px;
}
.navbar-fix {
  position: fixed;
  z-index: 8;
  opacity: 1;
  background-color: white;
  border-color: white;
  color:black;
}
.separator{
  width: 100%;
  height: 5vh;
  margin-top: 5%;
  position: relative;
  background-color: grey;
  text-align: center;
}
.nav.navbar-nav.navbar-right a{
    color: black;
    font-size: 1.2em;
}
.nav.navbar-nav.navbar-right a:hover, .nav.navbar-nav.navbar-right a:target {
  color: #6a0505;
  border-bottom: 4.5px solid #061080;
}
.nav.navbar-nav.navbar-right a{
	-webkit-transition: all 200ms linear, color 200ms linear;
}

.menuitem{
	color:blue;
	font-style: bold;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
